<div class="container">
    <div class="card text-center mt-3">
        <div class="card-header">
          Endpoints
        </div>

        <!-- Check Flash -->
        <% if (success.length != 0) { %>
          <div class="alert alert-success mt-3 ms-3 me-3 d-flex"><%= success %></div>
        <% } %>

        <% if (errors.length != 0) { %>
          <div class="alert alert-danger mt-3 ms-3 me-3 d-flex">
            <ul>
              <% for(let i = 0; i < errors.length; i++) { %>
                <li><%= errors[i].msg %></li>
              <% } %>
            </ul>
          </div>
        <% } %>

        <div class="d-flex ms-3 mt-3">
          <a href="/endpoint/create"><button class="btn btn-primary text-white">Create</button></a>
        </div>

        <div class="d-flex card-body justify-content-center flex-column">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Endpoint</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <!-- Looping -->
              <% for(let i = 0; i < endpoints.data.length; i++) { %>
                <tr>
                  <th scope="row"><%= i + 1 %></th>
                  <td><%= endpoints.data[i].routes_name %></td>
                  <td><%= endpoints.data[i].endpoint %></td>
                  <td>
                    <a href="#"><button class="btn btn-warning text-white">Update</button></a>
                    <a href="#"><button class="btn btn-danger">Delete</button></a>
                  </td>
                </tr>
              <% } %>
            </tbody>
          </table>

          <!-- Showing Button -->
          <% if(endpoints.totalPage > 1) { %>
            <div class="flex">
              <% if(endpoints.page + 1 == 1) { %>
                <a href="?page=<%= endpoints.page + 1 %>"><button class="btn btn-primary">></button></a>
              <% }else if(endpoints.page + 1 < endpoints.totalPage){ %>
                <a href="?page=<%= endpoints.page + 1 %>"><button class="btn btn-primary"><</button></a>
                <a href="?page=<%= endpoints.page - 1 %>"><button class="btn btn-primary">></button></a>
              <% }else{ %>
                  <a href="?page=<%= endpoints.page - 1 %>"><button class="btn btn-primary"><</button></a>
              <% } %>
            </div>
          <% } %>

        </div>

        <div class="card-footer text-muted">
          Coded By Bonevian
        </div>
    </div>
</div>